.fCont{
    height: 40%;
    width: 90%;
    max-width: 400px;
    background-image: linear-gradient(135deg
    ,#989898, #767676,
    #4b4b4b, #313131, #000000 );
    background-size: 500%;
    animation: fanimado 10s infinite;
    padding: 43px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-bottom: 26px;
}

.txtar{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #1E1E1F;
    margin-bottom: 26px;
    border: 2px solid rgb(155, 62, 232);
}

.tbtn-form{
    /* height: 15%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center; */
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: white;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
}

.tbtn-form--cancel{
    background-color: transparent;
}

.tbtn-form--accept{
    background-color: rgb(47, 7, 80);
    box-shadow: 0px 5px 25px rgba(168, 18, 255, 0.5);
}

@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}