.mBoton{
    box-shadow: 0px 5px 25px rgb(168, 18, 255, 0.5);  
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgb(47, 7, 80);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    position: relative;
    z-index: 1;
}

.mBoton:hover{
    transform: rotate(90deg);
}

.dBoton{
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

