.sech{
    display: flex;
    justify-content: center;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.input{
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 300px;
    
}